<div class = "mainBack">
    <div class = 'mainInner'>
        <div class = "vertContainer">
            <div class = "horzContainer">
                
                <app-user  style ='width:100%' ></app-user>
            </div>
        </div>
    
    
        <div class = "vertContainer">
            <app-to-do></app-to-do>
            <!-- <ul>
                <li *ngFor = "let todo of todos;">
                    {{todo.message}}
                    <button>x</button>
                </li>
            </ul> -->
            
            
        </div>
    </div>
    
</div>
