

.vertContainer{
    width: 100%;
    border-style: solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }
  
  .horzContainer{
      display: flex;
      flex-direction: row;
      align-items: center;
      border-style: solid;
      border-color: blue;
      width: 100%;
      height: 100%;
      
  }
  
  
  
  .mainBack{
      opacity:0.8;
      background-color:#ccc;
      position:fixed;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
      z-index:1000;
      display: flex;
      flex-direction: row;
      
  }
  .mainInner{
    background-color:#e6e5e5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
  }
  
  button {
    float: right;
    cursor: pointer;
  }
  
  /* Style the list items */
  ul li {
      cursor: pointer;
      position: relative;
      padding: 12px 8px 12px 40px;
      background: #eee;
      font-size: 18px;
      transition: 0.2s;
    
     
    }
  
    /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
      background: #f9f9f9;
    }
    
    /* Darker background-color on hover */
  ul li:hover {
      background: #ddd;
    }
  
   
    /* Remove margins and padding from the list */
  ul {
      margin: 0;
      padding: 0;
    }
    