

.vertContainer{
    width: 100%;
    border-style: solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }
  
  .horzContainer{
      display: flex;
      flex-direction: row;
      align-items: center;
      
      
  }
  
  .cell{
    background-color: rgb(215, 212, 212);
    border-style: solid;
    width: 3vw;
    height: 5vh;
  }

  .cell:hover{
    background-color: rgb(135, 117, 117);
  }