<div class = "pathFinderContainer">

    <div class = "grid" >
        <!-- <div class = "cell"
            *ngFor = "let cell of grid; let i = index"
            [id] = "'cell-' + this.grid[i].x + '-' + this.grid[i].y" 
            appMaze [cell] = "this.grid[i]"
            [mousedown] = "this.mouseDown"
            ></div> -->
        <app-node
        *ngFor = "let node of grid; let i = index"
        [id] = "'node-' + this.grid[i].x + '-' + this.grid[i].y"
        appMaze [cell] = "this.grid[i]"
        [isWall] = "true"  ></app-node>
    </div>



</div>

