.cell{
  width: 30px;
  height: 30px;
  background-color: white;
  border-bottom: 1px solid #6d95d6;
  border-right: 1px solid #6d95d6;
  color: black;
  }

  .isStart {
    background-color: #025113;
  }

  .isEnd {
    background-color: #01106f;
  }

  .isWall {
    background-color: rgb(200, 5, 5);
  }